<div location="tfIndividualChangeLastName"></div>
<!-- <label class="lIndividualInfo1 smallgrey">Перечислите иные фамилии, имена и отчества через запятую</label> -->
<label class="lIndividualInfo1 smallgrey">Необходимо указать год(а) в котором(ых) произошла(и) перемена(ы) фамилии(ий), а также перечислить все фамилии</label>