<div class="group">
	<label class="lDatesBirth">Даты рождения детей</label>
	<div location="cssDatesBirth"></div>
	<label class="lIndividualInfo1 smallgrey">Поле обязательно для заполнения в случае наличия детей</label>
	<div location="valCssDatesBirth"></div>
	<div location="bAddDatesBirth"></div>
	<div location="bDeleteDatesBirth"></div>
</div>