<label class="lIndividualApplicant">Заявитель — физическое лицо<div class="required">*</div></label>

<div class="IndividualApplicant group">
	<div class="IndividualLastName">
		<div location="tfIndividualLastName"></div>
		<div location="valTfIndividualLastName"></div>
		<label class="lIndividualLastName smallgrey">Фамилия</label>
	</div>
	
	<div class="IndividualFirstName">
		<div location="tfIndividualFirstName"></div>
		<div location="valTfIndividualFirstName"></div>
		<label class="lIndividualFirstName smallgrey">Имя</label>
	</div>
	
	<div class="IndividualMiddleName">
		<div location="tfIndividualMiddleName"></div>
		<!-- <div location="valTfIndividualMiddleName"></div> -->
		<label class="lIndividualMiddleName smallgrey">Отчество</label>
	</div>
</div>

<div class="group">
<!-- 
	<div location="cbIndividualChangeLastName"></div>
	<div class="lIndividualChangeLastName">Заявитель менял фамилию, имя или отчество</div>
 -->
	<div class="lIndividualChangeLastName">Сведения о смене фамилии</div>
	<div location="culIndividualChangeLastName"></div>
</div>

<label class="lIndividualDateIssuePassport">Дата рождения<div class="required">*</div></label>

<div class="group">
	<div location="pdfIndividualDateBirth"></div>
	<div location="valPdfIndividualDateBirth"></div>
</div>

<div class="clr"></div>

<label class="lIndividualPassport">Паспорт<div class="required">*</div></label>

<div class="IndividualPassport group">
	<div class="IndividualSeriesPassport">
		<div location="tfIndividualSeriesPassport"></div>
		<div location="valTfIndividualSeriesPassport"></div>
		<label class="lIndividualSeriesPassport smallgrey">Серия</label>
	</div>
	
	<div class="IndividualNumberPassport">
		<div location="tfIndividualNumberPassport"></div>
		<div location="valTfIndividualNumberPassport"></div>
		<label class="lIndividualNumberPassport smallgrey">Номер</label>
	</div>
</div>

<label class="lIndividualWhoGivePassport">Кем выдан паспорт<div class="required">*</div></label>

<div class="group">
	<div location="tfIndividualWhoGivePassport"></div>
	<div location="valTfIndividualWhoGivePassport"></div>
</div>

<label class="lIndividualDateIssuePassport">Дата выдачи паспорта<div class="required">*</div></label>

<div class="group">
	<div location="pdfIndividualDateIssuePassport"></div>
	<div location="valPdfIndividualDateIssuePassport"></div>
</div>

<div class="group">
		<div class="lCopyPassport">Копия паспорта (обязательно), доверенности (при наличии)<div class="required">*</div></div>
		<div class="clr"></div>
		<label class="lStampsEtc smallgrey">Отсканируйте титульную страницу и страницы, имеющие отношение к запросу. Важно понимать, что любые пометки, печати, штампы могут оказаться полезными в поиске запрашиваемых сведений. Если приложить копию <span class="important">невозможно по объективным причинам</span> (утеря, утрата), свяжитесь с информатором службы одного окна по телефону 78-79-01.</label>
		<div class="uploadFile" location="uCopyPassport"></div>
		<div class="cancelUploadFile" location="bCancelUploadPassport"></div>
		<div class="clr"></div>
		<label class="lFormatSizeFiles smallgrey">Файл формата zip, pdf, doc (docx), jpg (jpeg), png, gif, bmp, tif (tiff) размером не более 5 Мб.</label>
		<div class="clr"></div>
		<div location="valCounterFilesPassport"></div>
		<div location="valUCopyPassport"></div>
		<div location="filesUCopyPassport"></div>
	</div>

<label class="lIndividualAddress">Адрес<div class="required">*</div></label>

<div class="IndividualAddress group">
	<div class="IndividualCountry">
		<div location="tfIndividualCountry"></div>
		<div location="valTfIndividualCountry"></div>
		<label class="lIndividualCountry smallgrey w100">Страна</label>
	</div>
	
	<div class="IndividualRegion">
		<div location="tfIndividualRegion"></div>
		<div location="valTfIndividualRegion"></div>
		<label class="IndividualRegion smallgrey">Регион</label>
	</div>
	
	<div class="IndividualCity">
		<div location="tfIndividualCity"></div>
		<!-- <div location="valTfIndividualCity"></div> -->
		<label class="lIndividualCity smallgrey">Город</label>
	</div>
	
	<div class="IndividualStreet">
		<div location="tfIndividualStreet"></div>
		<div location="valTfIndividualStreet"></div>
		<label class="lIndividualStreet smallgrey">Улица</label>
	</div>
	
	<div class="IndividualHome">
		<div location="tfIndividualHome"></div>
		<div location="valTfIndividualHome"></div>
		<label class="lIndividualHome smallgrey w40">Дом</label>
	</div>
	
	<div class="IndividualHousing">
		<div location="tfIndividualHousing"></div>
		<!--<div location="valTfIndividualHousing"></div>-->
		<label class="lIndividualHousing smallgrey w40">Корпус</label>
	</div>
	
	<div class="IndividualApartment">
		<div location="tfIndividualApartment"></div>
		<div location="valTfIndividualApartment"></div>
		<label class="lIndividualApartment smallgrey w40">Квартира</label>
	</div>
</div>	

<!--Даты рождения-->
<div location="culDatesBirth"></div>

<label class="lIndividualNumberTelephone">Телефон<div class="required">*</div></label>

<div class="group">
	<div location="tfIndividualNumberTelephone"></div>
	<label class="lIndividualInfo2 smallgrey">Для возможности оперативной связи необходимо указывать контактный номер стационарного телефона (домашний, рабочий).</label>
	<div location="valTfIndividualNumberTelephone"></div>
</div>

<div class="clr"></div>
<label class="lIndividualEmail">Адрес электронной почты<div class="required">*</div></label>

<div class="group">
	<div location="tfIndividualEmail"></div>
	<div location="valTfIndividualEmail"></div>
</div>

<label class="lIndividualInfo3 smallgrey">На указанный адрес будет направлено уведомление о готовности документа с указанием адреса службы одного окна, по которому будет выдаваться запрашиваемый документ, и телефона для справок.</label>