<h3 class="lIndividual">Введите данные лица, в отношении которого запрашивается информация</h3>
<div class="step">
	<div class="IndividualApplicant">
		<div class="IndividualLastName">
			<div location="tfLegalIndividualLastName"></div>
			<div location="valTfLegalIndividualLastName"></div>
			<div class="lIndividualLastName smallgrey">Фамилия</div>
		</div>
		
		<div class="IndividualFirstName">
			<div location="tfLegalIndividualFirstName"></div>
			<div location="valTfLegalIndividualFirstName"></div>
			<label class="lIndividualFirstName smallgrey">Имя</label>
		</div>
		
		<div class="IndividualMiddleName">
			<div location="tfLegalIndividualMiddleName"></div>
			<!-- <div location="valTfIndividualMiddleName"></div> -->
			<label class="lIndividualMiddleName smallgrey">Отчество</label>
		</div>
		
		<div class="group">
			<!-- 
			<div location="cbLegalIndividualChangeLastName"></div>  
			<div class="lIndividualChangeLastName">Заявитель менял фамилию, имя или отчество</div>
			-->
			<div class="lIndividualChangeLastName">Сведения о смене фамилии</div>
			<div location="culLegalIndividualChangeLastName"></div>
		</div>
		
		<!--Даты рождения-->
		<div class="group">
			<div location="culLegalIndividualDatesBirth"></div>
		</div>
		
	</div>
</div>