<div class="group">
	<label class="lIndividualDatesBirth">Даты рождения детей</label>
	<div location="cssLegalIndividualDatesBirth"></div>
	<label class="lIndividualInfo1 smallgrey">Поле обязательно для заполнения в случае наличия детей</label>
	<div location="valCssLegalIndividualDatesBirth"></div>
	<div location="bAddLegalIndividualDatesBirth"></div>
	<div location="bDeleteLegalIndividualDatesBirth"></div>
</div>