<label class="lLegalApplicant">Заявитель — юридическое лицо<div class="required">*</div></label>

<div class="group">
	<div location="tfLegalFullName"></div>
	<label class="lLegalFullName smallgrey">Полное наименование</label>
	<div location="valTfLegalFullName"></div>
</div>

<div class="clr"></div>
<label class="lLegalDetails">Реквизиты<div class="required">*</div></label>

<div class="LegalDetails group">
	<div class="LegalBIN">
		<div location="tfLegalBIN"></div>
		<div location="valTfLegalBIN"></div>
		<label class="lLegalBIN smallgrey">ОГРН</label>
	</div>
	
	<div class="LegalINN">
		<div location="tfLegalINN"></div>
		<div location="valTfLegalINN"></div>
		<label class="lLegalIIN smallgrey">ИНН</label>
	</div>
</div>

<label class="lLegalHead">Руководитель<div class="required">*</div></label>

<div class="LegalHead group">
	<div class="LegalLastName">
		<div location="tfLegalLastName"></div>
		<div location="valTfLegalLastName"></div>
		<label class="lLegalLastName smallgrey">Фамилия</label>
	</div>
		
	<div class="LegalFirstName">
		<div location="tfLegalFirstName"></div>
		<div location="valTfLegalFirstName"></div>
		<label class="lLegalFirstName smallgrey">Имя</label>
	</div>
	
	<div class="LegalMiddleName">
		<div location="tfLegalMiddleName"></div>
		<!-- <div location="valTfLegalMiddleName"></div> -->
		<label class="lLegalMiddleName smallgrey">Отчество</label>
	</div>
</div>

<label class="lLegalPostHead">Должность руководителя<div class="required">*</div></label>
<div class="group">
	<div location="tfLegalPostHead"></div>
	<div location="valTfLegalPostHead"></div>
</div>

<label class="lLegalAddress">Почтовый адрес<div class="required">*</div></label>

<div class="LegalAddress group">
	<div class="LegalCountry">
		<div location="tfLegalCountry"></div>
		<div location="valTfLegalCountry"></div>
		<label class="lLegalCountry smallgrey">Страна</label>
	</div>
	
	<div class="LegalRegion">
		<div location="tfLegalRegion"></div>
		<!-- <div location="valTfLegalRegion"></div> -->
		<label class="lLegalRegion smallgrey">Регион</label>
	</div>
	
	<div class="LegalCity">
		<div location="tfLegalCity"></div>
		<div location="valTfLegalCity"></div>
		<label class="lLegalCity smallgrey">Город</label>
	</div>
	
	<div class="LegalStreet">
		<div location="tfLegalStreet"></div>
		<div location="valTfLegalStreet"></div>
		<label class="lLegalStreet smallgrey">Улица</label>
	</div>
	
	<div class="LegalHome">
		<div location="tfLegalHome"></div>
		<div location="valTfLegalHome"></div>
		<label class="lLegalHome smallgrey">Дом</label>
	</div>
	
	<div class="LegalHousing">
		<div location="tfLegalHousing"></div>
		<div location="valTfLegalHousing"></div>
		<label class="lLegalHousing smallgrey">Корпус</label>
	</div>
	
	<div class="LegalApartment">
		<div location="tfLegalApartment"></div>
		<div location="valTfLegalApartment"></div>
		<label class="lLegalApartment smallgrey">Квартира</label>
	</div>
</div>

<!-- <label class="lLegalMailAddress">Почтовый адрес<div class="required">*</div></label>
<div location="tfLegalMailAddress"></div>
<div location="valTfLegalMailAddress"></div>
-->

<label class="lLegalTelephone">Телефон<div class="required">*</div></label>
<div class="group">
	<div location="tfLegalNumberTelephone"></div>
	<div location="valTfLegalNumberTelephone"></div>
</div>

<label class="lLegalEmail">Адрес электронной почты<div class="required">*</div></label>
<div class="group">
	<div location="tfLegalEmail"></div>
	<div location="valTfLegalEmail"></div>
</div>

<label class="lLegalInfo smallgrey">На указанный адрес будет направлено уведомление о готовности документа с указанием адреса службы одного окна, по которому будет выдаваться запрашиваемый документ, и телефона для справок.</label>

