<label class="lDateRange">Укажите период, за который запрашивается размер заработной платы<div class="required">*</div></label>
<div location="pdfDateStartPeriodWages"></div>
<div location="valPdfDateStartPeriodWages"></div>
<div location="pdfDateEndPeriodWages"></div>
<div location="valPdfDateEndPeriodWages"></div>