<h2>Отправка завершена</h2>
<p>Данные формы успешно отправлены. Благодарим вас за использование этого сервиса портала.</p>
<p>В течение суток с момента подачи заявления (или в понедельник, если заявление подавалось с пятницы по воскресенье) на адрес электронной почты, указанный в заявлении, будет направлено уведомление. Оно подтвердит, что ваше обращение зарегистрировано и принято в работу.</p>
<p>В случае неполучения такого уведомления в указанный срок необходимо позвонить в службу одного окна по телефону 78-79-01.</p>