<h3 class="viewHeaderStep2Work">Введите сведения по запрашиваемой организации</h3>
<div class="step2">
	<label class="lInfoRequestOrganization">Сведения о запрашиваемой организации: полное и сокращенное название, переименования, ведомственная принадлежность<div class="required">*</div></label>
	<div class="group">
		<div location="tfInfoRequestOrganization"></div>
		<div location="valTfInfoRequestOrganization"></div>
	</div>
	
	<label class="lDateStartWork">Дата начала трудовой деятельности в организации<div class="required">*</div></label>
	<div class="group">
		<div location="pdfDateStartWork"></div>
		<div location="valPdfDateStartWork"></div>
	</div>
	
	<label class="lDateEndWork">Дата окончания трудовой деятельности в организации<div class="required">*</div></label>
	<div class="group">
		<div location="pdfDateEndWork"></div>
		<div location="valPdfDateEndWork"></div>
	</div>
	
	<div class="group">
		<!-- Укажите период, за который запрашивается размер заработной платы* -->
		<div location="culPeriodWages"></div>
	</div>
	
	<div location="culPosition"></div>
	
	<div class="group">
		<div class="lCopyWorkRecord">Копия трудовой книжки (при наличии)</div>
		<div class="clr"></div>
		<label class="lStampsEtc smallgrey">Отсканируйте титульную страницу и страницы, имеющие отношение к запросу. Важно понимать, что любые пометки, печати, штампы могут оказаться полезными в поиске запрашиваемых сведений. Если приложить копию <span class="important">невозможно по объективным причинам</span> (утеря, утрата), свяжитесь с информатором службы одного окна по телефону 78-79-01.</label>
		<div class="uploadFile" location="uCopyWorkRecord"></div>
		<div class="cancelUploadFile" location="bCancelUpload"></div>
		<div class="clr"></div>
		<label class="lFormatSizeFiles smallgrey">Файл формата zip, pdf, doc (docx), jpg (jpeg), png, gif, bmp, tif (tiff) размером не более 5 Мб.</label>
		<div class="clr"></div>
		<div location="valCounterFiles"></div>
		<div location="valUCopyWorkRecord"></div>
		<div location="filesUCopyWorkRecord"></div>
	</div>
	
	<div class="group">
		<label class="lOtherInformationWork">Иные сведения, облегчающие поиск необходимой информации и почтовый адрес, на который необходимо направить подготовленный документ (в случае если желаете получить подготовленный документ по почте)</label>
		<div location="tfOtherInformationWork"></div>
	</div>
	
</div>