<h3 class="viewHeaderStep2Study">Введите сведения по запрашиваемой школе</h3>
<div class="step2">
	<div class="group">
		<div class="NameSchool">
			<label class="lNameSchool">Наименование школы<div class="required">*</div></label>
			<div location="tfNameSchool"></div>
			<div location="valTfNameSchool"></div>
		</div>
	</div>
	
	<div class="group">		
		<div class="NumberSchool">
			<label class="lNumberSchool">Номер школы<div class="required">*</div></label>
			<div location="tfNumberSchool"></div>
			<div location="valTfNumberSchool"></div>
		</div>
	</div>
	
	<label class="lDateStartStudy">Дата начала обучения в школе<div class="required">*</div></label>
	<div class="group">
		<div location="pdfDateStartStudy"></div>
		<div location="valPdfDateStartStudy"></div>
	</div>
	
	<label class="lDateEndStudy">Дата окончания обучения в школе<div class="required">*</div></label>
	<div class="group">
		<div location="pdfDateEndStudy"></div>
		<div location="valPdfDateEndStudy"></div>
	</div>
	
	<label class="lOtherInformationStudy">Иные сведения, облегчающие поиск необходимой информации и почтовый адрес, на который необходимо направить подготовленный документ (в случае если желаете получить подготовленный документ по почте)</label>
	<div location="tfOtherInformationStudy"></div>
</div>