<div id="viewArchiveHelp">

	<div style="formArchiveHelp">
		
		<h3 class="viewHeaderStep1">Укажите цель и характер запроса</h3>
		<div class="step1">
			<div class="group">
				<label class="lPurposeDocumentArchive">Цель получения архивного документа<div class="required">*</div></label>
				<div location="ogPurposeDocumentArchive"></div>
				<div location="tfOtherwise"></div>
				<div location="valOgPurposeDocumentArchive"></div>
			</div>
			
			<div class="group">
				<label class="lWhatNeededConfirm">Что необходимо подтвердить?<div class="required">*</div></label>
				<div location="ogFactWork"></div>
				<div class="group2">
					<div location="chWorkExperience"></div>
					<div location="chPreferentialWorkExperience"></div>
					<div location="chWages"></div>
					<div location="chFactChangeOrganization"></div>
				</div>
				
				<div location="ogFactStudy"></div>
				<div location="valChWhatNeededConfirm"></div>
			</div>
			
			<div location="culWhereApplicantWorked"></div>
			
			<div class="group">
				<label class="lViewArchivedDocuments">Вид архивного документа<div class="required">*</div></label>
				<div location="ogViewArchivedDocuments"></div>
				<div location="valOgViewArchivedDocuments"></div>
			</div>
			
			<p class="viewInfo4 smallgrey">Архивная справка содержит сведения из документов, находящихся на хранении. Архивная выписка предполагает объемную цитату из архивного документа. Копия архивного документа в точности воспроизводит документ, находящийся на хранении.</p>
			<p class="viewInfo5 smallgrey">При оформлении пенсии и пособий в большинстве случаев достаточно архивной справки.</p>
		</div>
		
		<h3 class="viewHeaderStep3">Введите сведения о заявителе</h3>
		<div class="step3">
			<div class="group">
				<label class="lApplicant">Заявитель<div class="required">*</div></label>
				<div location="ogApplicant"></div>
				<div location="valOgApplicant"></div>
			</div>
			
			<div location="culIndividual"></div>
			<div location="culLegal"></div>	
			
		</div>
		<div class="clr"></div>
		<div location="culLegalIndividual"></div>
		
		<div location="culStep2Work"></div>
		<div location="culStep2Study"></div>
		
		<div class="lSend smallgrey">Заполнив форму и нажав кнопку «Отправить», я даю свое согласие Администрации города Омска, находящейся по адресу: город Омск, улица Гагарина, дом 34, на передачу, обработку и хранение моих персональных данных, указанных выше, с использованием средств автоматизации в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».</div>
		
		<!-- <div id="ch_notified_60Days" location="chNotified60Days"></div> -->
		
		<div location="bSend"></div>
	
	</div>
	
	<div location="culError"></div>
</div>