<div class="group">
	<label class="lWhereApplicantWorked">Где работал заявитель?<div class="required">*</div></label>
	<div location="ogWhereApplicantWorked"></div>
	<div location="valOgWhereApplicantWorked"></div>
</div>